@using BlogEngine.Core
@{
    // check if edit exists, no need to process
    if (Request.HttpMethod == "HEAD") { return; }
    var vm = new BlogEngine.Core.Data.ViewModels.BlogRollVM();

    if (Request.Form["btnAdd"] != null || Request.Form["btnUpdate"] != null)
    {
        Validation.Add("txtTitle", Validator.Required("Field is required"));
        Validation.Add("txtDesc", Validator.Required("Field is required"));
        Validation.Add("txtWebsite", Validator.Required("Field is required"), Validator.Url("Field is URL"));
        Validation.Add("txtUrl", Validator.Required("Field is required"), Validator.Url("Field is URL"));
    }
    var id = Request.Form["hdnId"];
    var br = new BlogRollItem();

    if (IsPost)
    {
        if (Request.Form["btnAdd"] != null)
        {
            if (Validation.IsValid())
            {
                vm.Add(Request.Form);
                @:
                <script type="text/javascript">window.parent.toastr.success("Completed");</script>
            }
            else
            {
                vm.SaveForm(Request.Form);
            }
        }
        else if (Request.Form["btnUpdate"] != null)
        {
            if (Validation.IsValid())
            {
                vm.Update(Request.Form, id);
                @:
                <script type="text/javascript">window.parent.toastr.success("Completed");</script>
            }
            else
            {
                vm.SaveForm(Request.Form);
            }
        }
        else if (Request.Form["btnDelete"] != null)
        {
            vm.Delete(id);
            @:
            <script type="text/javascript">window.parent.toastr.success("Completed");</script>
        }
        else
        {
            // load form for update
            if (!string.IsNullOrEmpty(id))
            {
                br = vm.BlogRolls.Find(r => r.Id == Guid.Parse(id));
            }
        }
    }
    var rolls = vm.BlogRolls;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/themes/standard/css/styles.css">
</head>
<body class="widget-edit">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <div class="widget-edit-blogroll">
        <form method="post" onsubmit="clearValidation()" id="frm" name="frm">
            <div class="form-group">
                <label>@Resources.labels.title</label>
                <input type="text" class="form-control" id="txtTitle" name="txtTitle" value="@br.Title" />
                @Html.ValidationMessage("txtTitle")
            </div>
            <div class="form-group">
                <label>@Resources.labels.website</label>
                <input type="text" class="form-control" id="txtWebsite" name="txtWebsite" value="@br.BlogUrl" />
                @Html.ValidationMessage("txtWebsite")
            </div>
            <div class="form-group">
                <label>@Resources.labels.description</label>
                <input type="text" class="form-control" id="txtDesc" name="txtDesc" value="@br.Description" />
                @Html.ValidationMessage("txtDesc")
            </div>
            <div class="form-group">
                <label>@Resources.labels.url</label>
                <input type="text" class="form-control" id="txtUrl" name="txtUrl" value="@br.FeedUrl" />
                @Html.ValidationMessage("txtUrl")
            </div>
            <label class="control-label">XFN tag</label>
            <table id="cblXfn" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td>@Html.CheckBox("cblXfn_0", br.Xfn.Contains("contact"))<label for="cblXfn_0">contact</label></td>
                        <td>@Html.CheckBox("cblXfn_1", br.Xfn.Contains("acquaintance"))<label for="cblXfn_1">acquaintance </label></td>
                        <td>@Html.CheckBox("cblXfn_2", br.Xfn.Contains("friend"))<label for="cblXfn_2">friend </label></td>
                        <td>@Html.CheckBox("cblXfn_3", br.Xfn.Contains("met"))<label for="cblXfn_3">met</label></td>
                        <td>@Html.CheckBox("cblXfn_4", br.Xfn.Contains("coworker"))<label for="cblXfn_4">co-worker</label></td>
                    </tr>
                    <tr>
                        <td>@Html.CheckBox("cblXfn_5", br.Xfn.Contains("colleague"))<label for="cblXfn_5">colleague </label></td>
                        <td>@Html.CheckBox("cblXfn_6", br.Xfn.Contains("coresident"))<label for="cblXfn_6">co-resident</label></td>
                        <td>@Html.CheckBox("cblXfn_7", br.Xfn.Contains("neighbor"))<label for="cblXfn_7">neighbor </label></td>
                        <td>@Html.CheckBox("cblXfn_8", br.Xfn.Contains("child"))<label for="cblXfn_8">child</label></td>
                        <td>@Html.CheckBox("cblXfn_9", br.Xfn.Contains("parent"))<label for="cblXfn_9">parent</label></td>
                    </tr>
                    <tr>
                        <td>@Html.CheckBox("cblXfn_10", br.Xfn.Contains("sibling"))<label for="cblXfn_10">sibling</label></td>
                        <td>@Html.CheckBox("cblXfn_11", br.Xfn.Contains("spouse"))<label for="cblXfn_11">spouse</label></td>
                        <td>@Html.CheckBox("cblXfn_12", br.Xfn.Contains("kin"))<label for="cblXfn_12">kin</label></td>
                        <td>@Html.CheckBox("cblXfn_13", br.Xfn.Contains("muse"))<label for="cblXfn_13">muse</label></td>
                        <td>@Html.CheckBox("cblXfn_14", br.Xfn.Contains("crush"))<label for="cblXfn_14">crush</label></td>
                    </tr>
                    <tr>
                        <td>@Html.CheckBox("cblXfn_15", br.Xfn.Contains("date"))<label for="cblXfn_15">date</label></td>
                        <td>@Html.CheckBox("cblXfn_16", br.Xfn.Contains("sweetheart"))<label for="cblXfn_16">sweetheart</label></td>
                        <td colspan="3">@Html.CheckBox("cblXfn_17", br.Xfn.Contains("me"))<label for="cblXfn_17">me</label></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                @if (!string.IsNullOrEmpty(Request.Form["hdnId"]))
                {
                    <button type="submit" id="btnUpdate" onclick="submitForm('@id')" name="btnUpdate" class="btn btn-success">
                        <i class="fa fa-check"></i>
                    </button>
                    <button type="submit" id="btnDelete" onclick="submitForm('@id')" name="btnDelete" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button type="submit" id="btnCancel" name="btnCancel" class="btn btn-default">
                        <i class="fa fa-close"></i>
                    </button>
                }
                else
                {
                    <button type="submit" id="btnAdd" name="btnAdd" class="btn btn-success">
                        @Resources.labels.add
                    </button>
                }
            </div>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th width="30%">@Resources.labels.title</th>
                        <th width="50%">@Resources.labels.description</th>
                        <th width="20%">XFN <a href="http://gmpg.org/xfn/intro" title="XFN" target="_blank"><i class="fa fa-info-circle"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (rolls == null || rolls.Count == 0)
                    {
                        <tr><td colspan="3">@Resources.labels.empty</td></tr>
                    }
                    else
                    {
                        foreach (var roll in rolls)
                        {
                            <tr>
                                <td class="item-title">
                                    <a title="@roll.Title" href="#" onclick="submitForm('@roll.Id')" class="text-ellipsis pull-left">@roll.Title</a>
                                    <a title="@roll.FeedUrl" class="external-link pull-right" target="_blank" href="@roll.FeedUrl"><i class="fa fa-external-link"></i></a>
                                </td>
                                <td>@roll.Description</td>
                                <td>@roll.Xfn</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <input type="hidden" id="hdnId" name="hdnId" value="" />
        </form>
    </div>
    <script>
        var submitForm = function (id) {
            $("#hdnId").val(id);
            $("#frm").submit();
        }
        var clearValidation = function () {
            $('.field-validation-error').hide();
        }
    </script>
</body>
</html>