@using System.Web.Optimization
@using BlogEngine.Core
@{
    if (!Security.IsAuthorizedTo(Rights.AccessAdminPages))
    {
        Security.RedirectForUnauthorizedRequest();
    }
    string loginUrl = Href(Utils.RelativeWebRoot + "Account/login.aspx");
    var userRights = string.Join("','", Security.CurrentUserRights().Select(r => r.Flag).ToArray());
}
<html ng-app="blogAdmin">
<head>
    <title>@BlogSettings.Instance.Name (@Security.CurrentMembershipUser.UserName)</title>
    <link rel="shortcut icon" href="@Href(Utils.ApplicationRelativeWebRoot + "Content/images/blog/blogengine.ico")" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/admincss")
    <link href="~/admin/themes/standard/css/admin.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var UserVars = { Name: '@Security.CurrentUser.Identity.Name', IsAdmin: '@Security.IsAdministrator', Rights: ['@Html.Raw(userRights)'] };
        var ActiveTheme = '@BlogSettings.Instance.Theme'
        var SingleUserBlog = '@BlogConfig.SingleUserBlog'
        var ServerTime = '@DateTime.Now'
        var UtcTime = '@DateTime.UtcNow'
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
    <script type="text/javascript" src="admin.res.axd"></script>
    <div class="wrapper @Resources.labels.LangDirection">
        <div class="user-nav">
            <img src="http://www.gravatar.com/avatar/c892488508c53d9f039aca7d02afa7b2.jpg?d=identicon" />
            <ul>
                <li><a href="~/admin/#/security/profile"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="~/Account/login.aspx?logoff"><i class="fa fa-sign-out"></i> Sign Out</a></li>
            </ul>
        </div>
        <div class="sidebar">
            @RenderPage("sidebar.cshtml")
        </div>
        @RenderBody()
    </div>
    <script>
        $(document).ready(function () {

            $(".nav-toggle").click(function () {
                $(".wrapper").toggleClass("sidebar-icon");
            })

        });

    </script>
</body>
</html>