@using BlogEngine.Core

<ul class="nav-primary" data-ng-controller="NavController">
    <li class="nav-blog-info">
        <i class="fa fa-home"></i>
        <a href="~/" target="_blank" class="nav-blog-name">YourBlog.com</a>
        <button class="nav-toggle open" type="button" role="button" aria-label="Toggle Navigation">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
        </button>
    </li>
    <li id="mu-dashboard" class="active">
        <i class="fa fa-th-large"></i>
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/dashboard"><span>@Resources.labels.dashboard</span></a>
    </li>
    <li id="mu-content" class="hasul">
        <i class="fa fa-align-justify"></i>
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/content"><span>@Resources.labels.content</span></a>
        <ul>
            <li data-ng-class="{ active: isActive('/content')}">
            <a href="{{SiteVars.RelativeWebRoot}}admin/#/content">@Resources.labels.posts</a></li>
            @if (BlogSettings.Instance.CommentProvider == BlogSettings.CommentsBy.BlogEngine)
            {
                <li data-ng-class="{ active: isActive('/content/comments')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/comments">@Resources.labels.comments</a></li>
            }
            <li data-ng-class="{ active: isActive('/content/pages')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/pages">@Resources.labels.pages</a></li>
            <li data-ng-class="{ active: isActive('/content/categories')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/categories">@Resources.labels.categories</a></li>
            <li data-ng-class="{ active: isActive('/content/tags')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/tags">@Resources.labels.tags</a></li>
            @if (Blog.CurrentInstance.IsPrimary && Security.IsAdministrator && !BlogConfig.SingleUserBlog)
            {
                <li data-ng-class="{ active: isActive('/content/blogs')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/blogs">@Resources.labels.blogs</a></li>
            }
        </ul>
    </li>
    <li id="mu-custom" class="hasul">
        <i class="fa fa-sliders"></i>
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/custom"><span>@Resources.labels.custom</span></a>
        <ul>
            <li data-ng-class="{ active: isActive('/custom')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/custom">@Resources.labels.extensions</a></li>
            <li data-ng-class="{ active: isActive('/custom/themes')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/custom/themes">@Resources.labels.themes</a></li>
            <li data-ng-class="{ active: isActive('/custom/widgets')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/custom/widgets">@Resources.labels.widgets</a></li>
        </ul>
    </li>
    <li id="mu-users" class="hasul">
        <i class="fa fa-user"></i>
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/security"><span>@Resources.labels.users</span></a>
        <ul>
            <li data-ng-class="{ active: isActive('/security')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/security">@Resources.labels.profile</a></li>
            @if (!BlogConfig.SingleUserBlog)
            {
                <li data-ng-class="{ active: isActive('/security/roles')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/security/roles">@Resources.labels.roles</a></li>
                <li data-ng-class="{ active: isActive('/security/users')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/security/users">@Resources.labels.users</a></li>
            }
        </ul>
    </li>
    <li id="mu-settings" class="hasul">
        <i class="fa fa-cog"></i>
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/settings"><span>@Resources.labels.settings</span></a>
        <ul>
            <li data-ng-class="{ active: isActive('/settings')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings">@Resources.labels.basic</a></li>
            <li data-ng-class="{ active: isActive('/settings/email')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/email">@Resources.labels.email</a></li>
            <li data-ng-class="{ active: isActive('/settings/feed')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/feed">@Resources.labels.feed</a></li>
            <li data-ng-class="{ active: isActive('/settings/comments')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/comments">@Resources.labels.comments</a></li>
            <li data-ng-class="{ active: isActive('/settings/controls')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/controls">@Resources.labels.controls</a></li>
            @if (!BlogConfig.SingleUserBlog)
            {
                <li data-ng-class="{ active: isActive('/settings/advanced')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/advanced">@Resources.labels.advanced</a></li>
            }
        </ul>
    </li>
    <li id="mu-gallery"><i class="fa fa-cloud-download"></i>
    <a href="{{SiteVars.RelativeWebRoot}}admin/#/gallery"><span>@Resources.labels.gallery</span></a></li>
    <li id="mu-help"><i class="fa fa-question-circle"></i><a href="{{SiteVars.RelativeWebRoot}}admin/#/help"><span>Help Center</span></a></li>
    <li id="mu-about"><i class="fa fa-info-circle"></i><a href="{{SiteVars.RelativeWebRoot}}admin/#/about"><span>BlogEngine @BlogEngine.Core.BlogSettings.Instance.Version().Substring(0, 3)</span></a></li>
</ul>


