@using BlogEngine.Core
@{
    var name = Security.CurrentUser.Identity.Name;
    var src = Utils.ApplicationRelativeWebRoot + "Content/images/blog/noavatar.jpg";
    var displayName = "Anonymous";

    var profile = AuthorProfile.GetProfile(name);
    if (profile != null)
    {
        if (!string.IsNullOrEmpty(profile.PhotoUrl))
        {
            src = profile.PhotoUrl;
        }
        displayName = profile.DisplayName;
    }
}
<div class="user-nav">
    <img src="@src" />
    <div class="user-nav-info">
        <div class="user-nav-name"><a href="~/admin/#/security/profile">@displayName</a></div>
        <ul class="user-nav-options">
            <li><a href="~/" target="_blank"><i class="fa fa-globe"></i> View Blog</a></li>
            <li><a href="~/Account/login.aspx?logoff"><i class="fa fa-sign-out"></i> Sign Out</a></li>
        </ul>
    </div>
</div>

<ul class="nav-primary" data-ng-controller="NavController">
    @if (Security.IsAuthorizedTo(Rights.ViewDashboard))
    {
        <li id="mu-dashboard" class="active">
            <i class="fa fa-icon fa-th-large"></i>
            <a href="{{SiteVars.RelativeWebRoot}}admin/#/dashboard"><span>@Resources.labels.dashboard</span></a>
        </li>
    }
    <li id="mu-content" class="hasul">
        <i class="fa fa-icon fa-align-justify"></i>
        
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/content/posts"><span>@Resources.labels.content</span> </a>
        <ul>
            <li id="mu-posts" data-ng-class="{ active: isActive('/content/posts')}">
                <a href="{{SiteVars.RelativeWebRoot}}admin/#/content/posts">@Resources.labels.posts</a>
            </li>
            @if (BlogSettings.Instance.CommentProvider == BlogSettings.CommentsBy.BlogEngine)
            {
                <li id="mu-comments" data-ng-class="{ active: isActive('/content/comments')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/comments">@Resources.labels.comments</a></li>
            }
            <li id="mu-pages" data-ng-class="{ active: isActive('/content/pages')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/pages">@Resources.labels.pages</a></li>
            <li data-ng-class="{ active: isActive('/content/categories')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/categories">@Resources.labels.categories</a></li>
            <li data-ng-class="{ active: isActive('/content/tags')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/tags">@Resources.labels.tags</a></li>
            @if (Blog.CurrentInstance.IsPrimary && Security.IsAdministrator && BlogConfig.UsageScenario == "multiblogs")
            {
                <li data-ng-class="{ active: isActive('/content/blogs')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/blogs">@Resources.labels.blogs</a></li>
            }
        </ul>
    </li>
    @if (Security.IsAuthorizedTo(Rights.ManageExtensions))
    {
        <li id="mu-custom" class="hasul">
            <i class="fa fa-icon fa-sliders"></i>
            <a href="{{SiteVars.RelativeWebRoot}}admin/#/custom/themes"><span>@Resources.labels.custom</span></a>
            <ul>
                <li data-ng-class="{ active: isActive('/custom/themes')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/custom/themes">@Resources.labels.themes</a></li>
                <li data-ng-class="{ active: isActive('/custom/plugins')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/custom/plugins">Plugins</a></li>
            </ul>
        </li>
    }
    @if (BlogConfig.UsageScenario == "multiusers")
    {
        <li id="mu-users" class="hasul">
            <i class="fa fa-icon fa-user"></i>
            <a href="{{SiteVars.RelativeWebRoot}}admin/#/security/profile"><span>@Resources.labels.users</span></a>
            <ul>
                <li data-ng-class="{ active: isActive('/security/profile')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/security/profile">@Resources.labels.profile</a></li>
                @if (Security.IsAuthorizedTo(Rights.ViewRoles))
                {
                    <li data-ng-class="{ active: isActive('/security/roles')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/security/roles">@Resources.labels.roles</a></li>
                }
                @if (Security.IsAuthorizedTo(Rights.EditOtherUsers))
                {
                    <li data-ng-class="{ active: isActive('/security/users')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/security/users">@Resources.labels.users</a></li>
                }
            </ul>
        </li>
    }
    @if (Security.IsAuthorizedTo(Rights.AccessAdminSettingsPages))
    {
        <li id="mu-settings" class="hasul">
            <i class="fa fa-icon fa-cog"></i>
            <a href="{{SiteVars.RelativeWebRoot}}admin/#/settings/basic"><span>@Resources.labels.settings</span></a>
            <ul>
                <li data-ng-class="{ active: isActive('/settings/basic')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/basic">@Resources.labels.basic</a></li>
                <li data-ng-class="{ active: isActive('/settings/email')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/email">@Resources.labels.email</a></li>
                <li data-ng-class="{ active: isActive('/settings/feed')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/feed">@Resources.labels.feed</a></li>
                <li data-ng-class="{ active: isActive('/settings/comments')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/comments">@Resources.labels.comments</a></li>
                <li data-ng-class="{ active: isActive('/settings/controls')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/controls">@Resources.labels.controls</a></li>
                @if (BlogConfig.UsageScenario != "singleblog" && Blog.CurrentInstance.IsPrimary)
                {
                    <li data-ng-class="{ active: isActive('/settings/advanced')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/advanced">@Resources.labels.advanced</a></li>
                }
            </ul>
        </li>
    }
    <li id="mu-about"><i class="fa fa-icon fa-info-circle"></i><a href="{{SiteVars.RelativeWebRoot}}admin/about.cshtml"><span>About</span></a></li>
</ul>
<div class="sidebar-logo">
    <a href="http://dotnetblogengine.net/" target="_blank">
        <img src="~/admin/themes/standard/img/logo-sidebar.png" />
    </a>
</div>