@using System.Web
@using System.Web.Optimization
@using BlogEngine.Core
@{
    if (!Security.IsAuthorizedTo(BlogEngine.Core.Rights.EditOwnPages)){
        Security.RedirectForUnauthorizedRequest();
    }
    string loginUrl = Href(Utils.RelativeWebRoot + "Account/login.aspx");
    var userRights = string.Join("','", Security.CurrentUserRights().Select(r => r.Flag).ToArray());
    var id = Request["id"];
    var returnUrl = Request["returnUrl"];
    if (string.IsNullOrEmpty(returnUrl)) { returnUrl = Utils.RelativeWebRoot + "admin/#/content/pages"; }
}
<html data-ng-app="blogAdmin">
<head>
    <title>{{lbl.editor}}</title>
    <link rel="shortcut icon" href="@Href(Utils.ApplicationRelativeWebRoot + "Content/images/blog/blogengine.ico")" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/Content/admincss")
    <link href="~/Content/admin.css" rel="stylesheet" />
    <script type="text/javascript">
        var UserVars = { Name: '@Security.CurrentUser.Identity.Name', IsAdmin: '@Security.IsAdministrator', Rights: ['@Html.Raw(userRights)'] };
        var editVars = { id: '@id' };
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    <script type="text/javascript" src="admin.res.axd"></script>
</head>
<body data-ng-controller="PageEditorController" class="@Resources.labels.LangDirection"> 
    @RenderPage("_pagemodals.cshtml")
    @RenderPage("_filemgr.cshtml")
    <div class="wrapper @Resources.labels.LangDirection">
        <div class="sidebar">
            @RenderPage("_sidebar.cshtml")
        </div>
        <div class="content">
            <form id="form" action="" style="margin:0;">
                <div class="page-header clearfix">
                    <div class="col col-md-9">
                        <input type="text" id="txtTitle" name="txtTitle" placeholder="{{lbl.titleOfPage}}..." class="form-control" data-ng-model="page.Title" />
                    </div>
                    <div class="col col-md-3">
                        <a href="#" data-target="#modal-form" data-toggle="modal" class="btn btn-default btn-block"><i class="fa fa-cog"></i>{{lbl.settings}}</a>
                    </div>
                </div>

                <div class="row clearfix">
                    <div id="overlay-editor" class="content-inner">
                        <div class="col col-md-12">
                            @RenderPage(BlogConfig.DefaultEditor)
                            @RenderPage("_uploadbtns.cshtml")
                            <div class="btn-group">
                                <button type="button" ng-disabled="page.Id === null || page.Id === ''" class="btn  btn-default" style="margin-left: 20px" id="btnCustomFields" data-ng-click="showCustom()" data-toggle="modal" title="{{lbl.customFields}}"><i class="fa fa-flask"></i> {{lbl.customFields}}</button>
                            </div>

                            <div id="frm-custom-edit" ng-if="customFields && customFields.length > 0" class="form-horizontal clearfix">
                                <h4>{{lbl.customFields}}</h4>
                                <hr />
                                <div style="display: inline-block; width: 100%; padding:  0 0 15px 0" data-ng-repeat="item in customFields">
                                    <label class="control-label col-md-4">{{item.Key}}</label>
                                    <div class="col col-md-7">
                                        <input type="text" class="form-control" data-ng-model="item.Value" />
                                    </div>
                                    <div class="col col-md-1">
                                        <a href="" ng-click="deleteCustom(item.Key, item.ObjectId)" title="{{lbl.doDelete}}" style="position: relative; top: 10px; color: red"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <hr />
                        <div class="text-right">
                            <span id="spinner" class="loaded"><i class='fa fa-spinner fa-spin fa-large'></i></span>
                            <a href="@returnUrl" class="btn btn-default"><i class="fa fa-ban"></i>{{lbl.cancel}}</a>
                            <a href="#" data-ng-click="save()" class="btn btn-success"><i class="fa fa-save"></i>{{lbl.save}}</a>
                            <span ng-if="page.Id"><a href="{{page.RelativeLink}}" class="btn btn-default" target="_blank"><i class="fa fa-eye"></i> {{lbl.goToPage}}</a></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @Scripts.Render("~/scripts/wysiwyg")
    @{
        if (BlogConfig.DefaultEditor == "~/admin/editors/tinymce/editor.cshtml")
        {
        <script src="~/admin/editors/tinymce/tinymce.min.js"></script>
        <script src="~/admin/editors/tinymce/editor.js"></script>
        }
    }
</body>
</html>
