@using System.Web.Optimization
@using BlogEngine.Core
@{
    if (!Security.IsAuthorizedTo(Rights.EditOwnPosts))
    {
        Security.RedirectForUnauthorizedRequest();
    }
    string loginUrl = Href(Utils.RelativeWebRoot + "Account/login.aspx");
    var userRights = string.Join("','", Security.CurrentUserRights().Select(r => r.Flag).ToArray());
    var id = Request["id"];
    var returnUrl = Request["return"];
    if (string.IsNullOrEmpty(returnUrl)) { returnUrl = Utils.RelativeWebRoot + "admin/#/content"; }
}
<html data-ng-app="blogAdmin">
<head>
    <title>{{lbl.editor}}</title>
    <link rel="shortcut icon" href="@Href(Utils.ApplicationRelativeWebRoot + "Content/images/blog/blogengine.ico")" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/admincss")
    <link href="~/Content/admin.css" rel="stylesheet" />
    <script type="text/javascript">
        var UserVars = { Name: '@Security.CurrentUser.Identity.Name', IsAdmin: '@Security.IsAdministrator', Rights: ['@Html.Raw(userRights)'] };
        var editVars = { id: '@id' };
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    <script type="text/javascript" src="admin.res.axd"></script>
</head>
<body data-ng-controller="PostEditorController" class="@Resources.labels.LangDirection">
    <div id="modal-custom-fields" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="focusInput=false"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">{{lbl.add}}</h4>
                </div>
                <div class="modal-body modal-roles">
                    <div class="form-group">
                        <label class="control-label" for="txtKey">Key</label>
                        <input type="text" id="txtKey" name="txtKey" class="form-control" data-ng-model="editItem.Key" focus-me="focusInput" />
                        <label class="control-label" for="txtValue">Value</label>
                        <input type="text" id="txtValue" name="txtValue" class="form-control" data-ng-model="editItem.Value" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-ng-click="saveCustom()" class="btn btn-success btn-tabkey pull-right"><i class="fa fa-save"></i>{{lbl.save}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="focusInput=false"><i class="fa fa-ban"></i>{{lbl.cancel}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper @Resources.labels.LangDirection">
        <div class="sidebar">
            @RenderPage("../sidebar.cshtml")
        </div>
        <div class="content">
            <form id="form" action="">

                <div class="page-header clearfix">
                    <div style="margin: 0 18px !important">
                        <input type="text" id="txtTitle" name="txtTitle" placeholder="{{lbl.titleOfPost}}..." class="pull-left input-page-title" data-ng-model="post.Title" />

                        <span ng-if="post.Id"><a href="{{post.RelativeLink}}" class="btn btn-default btn-tabkey pull-right" target="_blank"><i class="fa fa-eye"></i> {{lbl.goToPost}}</a></span>
                        <a ng-if="status() == 2" href="#" data-ng-click="save()" class="btn btn-success btn-tabkey pull-right"><i class="fa fa-save"></i>{{lbl.save}}</a>
                        <a ng-if="status() < 2" href="#" data-ng-click="publish(true)" class="btn btn-success btn-tabkey pull-right"><i class="fa fa-check"></i>{{lbl.publish}}</a>
                        <span ng-if="status() < 2"><a href="#" ng-click="save()" class="btn btn-default btn-tabkey pull-right"><i class="fa fa-save"></i> {{lbl.save}}</a></span>
                        <span ng-if="post.Id && post.IsPublished"><a href="#" class="btn btn-default btn-tabkey pull-right" ng-click="publish(false)"><i class="fa fa-undo"></i> {{lbl.unpublish}}</a></span>
                        <a href="@returnUrl" class="btn btn-default btn-tabkey pull-right"><i class="fa fa-ban"></i>{{lbl.cancel}}</a>
                        <span id="spinner" class="loaded btn-tabkey"><i class='fa fa-spinner fa-spin fa-lg'></i></span>

                        <span id="spinner" class="loaded btn-tabkey pull-right"><i class='fa fa-spinner fa-spin fa-large'></i></span>
                    </div>
                </div>

                <div class="content-inner">
                    <div class="col col-md-9">
                        @RenderPage(BlogConfig.DefaultEditor)

                        <div class="post-tags-selector" style="margin-top: 5px">
                            <div class="pull-left" style="padding: 3px 5px; background-color: #e5e5e5">
                                <i class="fa fa-tag fa-sm"></i>
                                {{lbl.tags}}
                            </div>
                            <div class="" style="margin-left: 70px">
                                <textarea id="postTags" class="form-control" style="margin-top: 4px; margin-left: 4px" placeholder="{{lbl.typeAndEnter}}..." rows="1"></textarea>
                            </div>
                        </div>

                        <div style="border-bottom: 1px solid #e5e5e5; display: inline-block; width: 100%; margin: 8px 0">
                            <h4 class="page-title pull-left">{{lbl.customFields}}</h4>
                            <a href="" ng-disabled="post.Id === null || post.Id === ''" class="btn btn-default btn-header pull-right" type="button" id="btnCustomFields" ng-click="showCustom()" toggle="modal"><i class="fa fa-plus"></i>{{lbl.add}}</a>
                        </div>
                        <div id="frm-custom-edit" ng-if="customFields && customFields.length > 0" class="form-horizontal clearfix">
                            <div style="display: inline-block; width: 100%; padding:  0 0 15px 0" data-ng-repeat="item in customFields">
                                <label class="control-label col-md-4">{{item.Key}}</label>
                                <div class="col col-md-7">
                                    <input type="text" class="form-control" data-ng-model="item.Value" />
                                </div>
                                <div class="col col-md-1">
                                    <a href="" ng-click="deleteCustom(item.Key, item.ObjectId)" title="{{lbl.doDelete}}" style="position: relative; top: 10px; color: red"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="col col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-folder"></i> {{lbl.categories}}
                            </div>
                            <ul class="list-group categories-list">
                                <li class="list-group-item" ng-repeat="cat in lookups.CategoryList">
                                    <label>
                                        <input type="checkbox" id="cat-{{cat.OptionValue}}" data-ng-model="cat.IsSelected" />
                                        {{cat.OptionName}}
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-file"></i> {{lbl.postMeta}}
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" for="txtSlug">{{lbl.slug}}</label>
                                    <input type="text" class="form-control" id="txtSlug" data-ng-model="post.Slug" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="selAuthors">{{lbl.author}}</label>
                                    <select id="selAuthors" class="form-control" data-ng-options="o.OptionName for o in lookups.AuthorList" data-ng-model="selectedAuthor"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtDate">{{lbl.datePublished}}</label>
                                    <input type="text" class="form-control dateFormatted" id="txtDate" name="txtDate" data-ng-model="post.DateCreated" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtExcerpt">{{lbl.description}}</label>
                                    <textarea class="form-control" id="txtExcerpt" data-ng-model="post.Description"> </textarea>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="ckEnableComments" data-ng-model="post.HasCommentsEnabled" />
                                            {{lbl.enableComments}}
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    @Scripts.Render("~/scripts/wysiwyg")
@{
    if (BlogConfig.DefaultEditor == "~/admin/editors/tinymce/editor.cshtml")
    {
    <script src="~/admin/editors/tinymce/tinymce.min.js"></script>
    <script src="~/admin/editors/tinymce/editor.js"></script>
    }
}
</body>
</html>
